//======================================
//-- Colors
//======================================
$body-bg-color:                 #f5f5f5;
$logo-background-color:         #222831;
$navbar-bg-color:               #393E46;
$active-menu-color:             #00ADB5;
$body-text-color:               #444444;
$inactive-text-color:           #c6c6c6;

//======================================
//-- Typography
//======================================
$font-size-base:                  15px;
$font-size-xsmall:                11px;
$font-size-small:                 12px;
$font-size-medium:                18px;
$font-size-large:                 24px;
$font-family-sans-serif:          'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$font-weight-small:               300;
$font-weight-normal:              400;
$font-weight-large:               500;

